<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:security-constraint>
    <javaee:web-resource-collection>
      <javaee:web-resource-name>All resources</javaee:web-resource-name>
      <!--javaee:description>Protect authorization request</javaee:description-->
        <!--javaee:url-pattern>/oauth</javaee:url-pattern-->
    </javaee:web-resource-collection>
    <javaee:auth-constraint>
      <javaee:role-name>AppUser</javaee:role-name>
    </javaee:auth-constraint>
    </javaee:security-constraint>

    <javaee:servlet>
      <javaee:servlet-name>fhir</javaee:servlet-name>
      <javaee:servlet-class>org.bch.c3pro.server.servlet.FHIRServlet</javaee:servlet-class>
    </javaee:servlet>

    <javaee:servlet>
        <javaee:servlet-name>map</javaee:servlet-name>
        <javaee:servlet-class>org.bch.c3pro.server.servlet.USMap</javaee:servlet-class>
    </javaee:servlet>


    <!--RegisterServer configuration -->
    <javaee:servlet>
        <javaee:servlet-name>register</javaee:servlet-name>
        <javaee:servlet-class>org.bch.security.oauth.server.RegisterServer</javaee:servlet-class>
        <javaee:init-param>
            <javaee:param-name>dataSource</javaee:param-name>
            <javaee:param-value>java:jboss/datasources/c3proAuthDS</javaee:param-value>
        </javaee:init-param>
        <javaee:init-param>
            <javaee:param-name>hashAlgorithm</javaee:param-name>
            <javaee:param-value>SHA1</javaee:param-value>
        </javaee:init-param>
    </javaee:servlet>

    <!--OAuth2 Server configuration -->
    <javaee:servlet>
        <javaee:servlet-name>auth_server</javaee:servlet-name>
        <javaee:servlet-class>org.bch.security.oauth.server.OAuth2Server</javaee:servlet-class>
        <javaee:init-param>
            <javaee:param-name>dataSource</javaee:param-name>
            <javaee:param-value>java:jboss/datasources/c3proAuthDS</javaee:param-value>
        </javaee:init-param>
        <javaee:init-param>
            <javaee:param-name>secondsToExpiration</javaee:param-name>
            <javaee:param-value>1800</javaee:param-value>
        </javaee:init-param>
        <javaee:init-param>
            <javaee:param-name>tokenSize</javaee:param-name>
            <javaee:param-value>64</javaee:param-value>
        </javaee:init-param>
    </javaee:servlet>

    <!--FHIR Enc Servlet -->
    <javaee:servlet>
        <javaee:servlet-name>fhir_enc</javaee:servlet-name>
        <javaee:servlet-class>org.bch.c3pro.server.servlet.FHIREncServlet</javaee:servlet-class>
    </javaee:servlet>

    <!--Mappings -->
    <javaee:servlet-mapping>
        <javaee:servlet-name>fhir_enc</javaee:servlet-name>
        <javaee:url-pattern>/encfhir/QuestionnaireAnswer</javaee:url-pattern>
        <javaee:url-pattern>/encfhir/Contract</javaee:url-pattern>
        <javaee:url-pattern>/encfhir</javaee:url-pattern>
        <javaee:url-pattern>/encfhir/*</javaee:url-pattern>
    </javaee:servlet-mapping>

    <javaee:servlet-mapping>
      <javaee:servlet-name>fhir</javaee:servlet-name>
      <javaee:url-pattern>/fhir/*</javaee:url-pattern>
    </javaee:servlet-mapping>

    <javaee:servlet-mapping>
        <javaee:servlet-name>map</javaee:servlet-name>
        <javaee:url-pattern>/map.svg</javaee:url-pattern>
    </javaee:servlet-mapping>

    <javaee:servlet-mapping>
        <javaee:servlet-name>auth_server</javaee:servlet-name>
        <javaee:url-pattern>/oauth</javaee:url-pattern>
    </javaee:servlet-mapping>

    <javaee:servlet-mapping>
        <javaee:servlet-name>register</javaee:servlet-name>
        <javaee:url-pattern>/register</javaee:url-pattern>
    </javaee:servlet-mapping>

    <!--OAuth2 Filter -->
    <javaee:filter>
        <javaee:filter-name>OAuthFilter</javaee:filter-name>
        <javaee:filter-class>org.bch.security.oauth.server.OAuthFilter</javaee:filter-class>
    </javaee:filter>

    <!--OAuth2Server Filter -->
    <javaee:filter>
        <javaee:filter-name>OAuthServerFilter</javaee:filter-name>
        <javaee:filter-class>org.bch.security.oauth.server.OAuthServerFilter</javaee:filter-class>
    </javaee:filter>

    <!--Web resources listed here will be protected through oauth2 -->
    <javaee:filter-mapping>
        <javaee:filter-name>OAuthFilter</javaee:filter-name>
        <javaee:url-pattern>/rest/*</javaee:url-pattern>
        <javaee:url-pattern>/fhir/*</javaee:url-pattern>
        <javaee:url-pattern>/encfhir/*</javaee:url-pattern>
    </javaee:filter-mapping>

    <!--OAuth Authorization server is protected though a special filter -->
    <javaee:filter-mapping>
        <javaee:filter-name>OAuthServerFilter</javaee:filter-name>
        <javaee:url-pattern>/oauth</javaee:url-pattern>
    </javaee:filter-mapping>

  <javaee:login-config>
    <javaee:realm-name>StaticUserPwd</javaee:realm-name>
    <javaee:auth-method>BASIC</javaee:auth-method>
  </javaee:login-config>
  <javaee:security-role>
    <javaee:role-name>AppUser</javaee:role-name>
  </javaee:security-role>
</web-app>